@import '../../../index.scss';

.why-choose-us {
    display: block;

    .head-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;

        .right {
            width: 50%;
            font-size: 16px;
            text-align: left;
        }
    }

    .content-div {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        gap: 50px;

        .stats-container {
            width: 50%;
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 50px;
            background: linear-gradient(135deg, $secondary 0%, $primary 100%);
            padding: 100px;

            .stats {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .stat-number {
                    font-size: 40px;
                    font-weight: 800;
                    color: $white;
                }

                .stat-title {
                    font-size: 16px;
                }
            }
        }

        .item-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 20px;

                .si-no {
                    font-size: 25px;
                    font-weight: 700;
                    color: #cccccc;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .title {
                        font-size: 25px;
                        font-weight: 700;
                        color: $primary;
                    }

                    .description {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}