.service-detail-section {
    display: block;
    
    .head-section-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        .head-div {
            width: 50%;
        }

        p {
            width: 50%;
        }
    }

    .service-details-container {
        margin-top: 50px;
        display: flex;
        border: 2px solid #e0e0e0;
        min-height: 500px; // (You can adjust the height if needed)
      
        .service-left {
          width: 40%;
          border-right: 2px solid #ddd;
          display: flex;
          flex-direction: column;
      
          .service-item {
            flex: 1; // <- This will make all service-items take **equal height**
            padding: 20px;
            padding-left: 50px !important;
            display: flex;
            align-items: center; // center text vertically
            border-bottom: 2px solid #ddd;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s;
            font-size: 25px;
            height: 100px;
      
            &:hover {
              background: #f9f9f9;
            }
      
            &.active {
              border-left: 3px solid #ec1b23;
            }
      
            &:last-child {
              border-bottom: none; // <- Remove border-bottom from last item
            }
          }
        }
      
        .service-right {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      
          .img-div {
            height: 400px;
            background: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
      
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
      
          .details {
            padding: 20px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;

            .info-div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
      
            .info {
              margin-bottom: 10px;
      
              p {
                margin: 0;
                font-weight: bold;
      
                strong {
                  color: #ec1b23;
                }
              }
            }

            .btn {
                width: 150px;
                height: 45px;
            }
      
            .description {
              font-size: 14px;
              margin-bottom: 20px;
            }
          }
        }
      }
          
}