.gallery {
    display: block;
    
    .gallery-container {
        margin-top: 50px;
        display: block;

        .gallery-section-head {
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }
        
        .section {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            /* list-style: inside square; */
            list-style: none;
            cursor: pointer;
            transition: .5s;
        }

        .section:hover, .active {
            color: #ec1b23;
        }

        .gallery-grid {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(3, 3fr);
            gap: 30px;

            .gallery {
                width: 100%;
                height: 400px;
                overflow: hidden;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                }
            }
    
            .gallery:hover img {
                scale: 1.1;
                transition: .5s;
            }
        }
    }

    .btn-container {
        margin-top: 30px;
        .btn {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}