.location-section {
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
    align-items: center;
    justify-content: center;

    .location-container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
            justify-content: flex-start;
            /* align-items: left; */
            gap: 20px;
            height: 100%;
            width: 50%;

            .location-card {
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: flex-start;
                background-color: #f7f7f7;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                padding: 30px;
                transition: .3s;
                /* cursor: pointer; */
                transition: .3s;
                // border: 2px solid #ec1b23;

                .location-details {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .place {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 5px;

                        svg {
                            margin-top: 3px;
                        }
                    }

                    .phone-col {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        .phone {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;
                            text-decoration: none;
                            color: black;
                            cursor: pointer;
                            /* transition: .3s; */
                            font-size: 14px;

                            svg {
                                font-size: 22px;
                            }
                        }
                    }

                    .email-col {
                        .email {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;
                            text-decoration: none;
                            color: black;
                            cursor: pointer;
                            /* transition: .3s; */
                            font-size: 14px;

                            svg {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            .location-card.active {
                background-color: #ec1b23;
                color: white;
                transition: .3s;
            }

            .location-card:hover {
                background-color: #ec1b23;
                color: white;
                transition: .3s;
                cursor: pointer;
            }

            .location-card:hover .location-details .phone-col, .email-col {
                .phone {
                    color: white;
                    transition: .3s;
                }

                .phone:hover {
                    color: black;
                    transition: .3s;
                }
            }

            .location-card:hover .location-details .email-col {
                .email {
                    color: white;
                    transition: .3s;
                }

                .email:hover {
                    color: black;
                    transition: .3s;
                }
            }
        }

        .right {
            width: 50%;
            height: 600px;

            iframe {
                width: 100%;
                height: 100%;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media(max-width:1200px) {
    .location-section .location-container {
        flex-direction: column;
    }

    .location-section .location-container .left, .location-section .location-container .right {
        width: 100%;
    }

}

@media(max-width:500px) {
    .location-section.container1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .location-section .location-container .left {
        width: 350px
    }
}
