@import '../../../index.scss';

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    background: $black;
    // background: linear-gradient(135deg, $primary 0%, darken($primary, 20%) 100%);
    color: $white;

    .footer-hr {
        // margin-left: 100px;
        // margin-right: 100px;
        width: 80%;
        margin-top: 30px;
        border: none;
        height: 2px;
        background: #eaeaea;
        margin: 0 auto;
    }

    .stick {
        position: absolute;
        left: 50%;
        margin-top: -50px;
        transform: translateX(-50%);
        width: 700px;
        height: 100px;
    }

    .footer_row {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        .footer_col:nth-child(1) {
            flex-basis: 25%;
        }

        .footer_col:nth-child(2), .footer_col:nth-child(3){
            flex-basis: 20%;
        }

        .footer_col:nth-child(4) {
            flex-basis: 25%;
        }

        .footer_col {
            // flex-basis: 25%;
            // padding: 20px;

            .head {
                text-transform: uppercase;
                font-size: 20px;
            }

            .contact_content {
                // margin-top: 30px;

                .logo {
                    width: 120px;
                }

                p {
                    margin-top: 20px;
                    font-size: 14px;
                    // padding-right: 50px;
                }
            }

            .details {
                margin-top: 20px;

                h2 {
                    font-size: 14px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 12px;
                    margin-top: 5px;
                    transition: .3s;
                }

                p a {
                    font-size: 12px;
                    margin-top: 5px;
                    transition: .3s;
                }

                p a:hover {
                    color: $secondary;
                    transition: .3s;
                }
            }

            ul {
                margin-top: 15px;

                li {
                    list-style: none;
                    padding-top: 10px;
                    font-size: 14px;
                    transition: .3s;

                    a:hover {
                        color: $secondary;
                        transition: .3s;
                    }

                    a.active {
                        color: $secondary;
                        transition: .3s;
                    }


                }
            }

            .newsletter_details {
                margin-top: 20px;

                p {
                    font-size: 14px;
                }

                .newsletter_input {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    input {
                        padding: 10px 5px 10px;
                        outline: none;
                        appearance: none;
                        border: none;
                        display: flex;
                        text-align: left;
                        justify-content: flex-start;
                        width: 100%;
                        background: #333;
                        border: 2px solid #eaeaea;
                        // border-radius: 5px;
                    }
    
                    input:hover {
                        background: #fff;
                        // border: 2px solid #ec1b23;
                    }
    
                    button {
                        display: block;
                        // justify-content: flex-end;
                        width: 100px;
                        padding: 10px 10px 10px;
                        background: $primary;
                        color: $white;
                        border: none;
                        font-weight: 700;
                        font-size: 15px;
                        cursor: pointer;
                        // border-radius: 5px;
                        // margin-left: auto;
                        margin-right: auto;
                    }
            
                    button:hover {
                        background: $white;
                        color: $secondary;
                    }
                }

                .social_head {
                    margin-top: 20px;
                }

                .social_links {
                    // margin-top: 30px;
                    display: flex;
                    justify-content: left;
                    text-align: left;
                    align-items: center;
                    padding: 10px 0 10px 0;
                    margin-left: -15px;
    
                    svg {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 40px;
                        font-size: 40px;
                        margin-left: 15px;
                        cursor: pointer;
                        z-index: 1;
                        color: $primary;
                        transition: .3s;
                    }

                    svg:hover {
                        color: $secondary;
                        transform: scale(1.1);
                        transition: .3s;
                    }
                }
            } 
        }
    }
}

@media (max-width: 1310px) {
    footer .footer_row {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: none;
        grid-gap: 50px;
        justify-content: center;

        .footer_col .contact_content {
            p {
                padding-right: 0px;
            }
        }

        .footer_col:nth-child(1) {
            flex-basis: 100%;
        }

        .footer_col:nth-child(2), .footer_col:nth-child(3){
            flex-basis: 100%;
        }

        .footer_col:nth-child(4) {
            flex-basis: 100%;
        }
    }
}

@media (max-width: 768px) {

    footer .footer_row.container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {
    footer .footer_row {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
    }

    footer .footer_row.container {
        padding-left: 30px !important;
        padding-right: 30px !important;

        .footer_col .newsletter_details .social_head, .social_links {
            justify-content: center;
            text-align: center;
        }

        .footer_col .newsletter_details .social_links {
            justify-content: center;
            text-align: center;
        }
    }
}